[submodule "lib/Adafruit-SSD1331-OLED-Driver-Library-for-Arduino"]
	path = lib/Adafruit-SSD1331-OLED-Driver-Library-for-Arduino
	url = https://github.com/adafruit/Adafruit-SSD1331-OLED-Driver-Library-for-Arduino.git
